.navHeader {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  padding: 0 20px;
}
.navHeader .left {
  display: flex;
  align-items: center;
}
.navHeader .right {
  display: flex;
  align-items: center;
}
.navHeader .nickName {
  padding-bottom: 4px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
}
